* {
	padding: 0;
	margin: 0;
	border: 0;
  box-sizing: border-box;;
	}

.header {
  background-color: blue;
  height: 45px;
}

main {
  background-color: #8D95A3;
  height: 100%; 
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.card-wrap-outer {
  /* flex-direction: column; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 25%;
  margin: 40px;
  padding: 15px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.card-wrap-inner {

}

.card-upper {
  align-self: flex-start;
}

.star-icon {
  /* flex-direction: row; */
  height: 18px;
  width: 18px;
}

.content {
  padding-top: 15px;
  /* align-self: flex-start; */
  justify-content: flex-start;
}

.card-lower {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}
